body {
    background-color: #dee4eb;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.vote-block {
    padding: 3px 3px 3px 30px;
    font-size: 120%;
}

.vote-block #score_votes {
    text-align: center;
    min-width: 16px;
    display: inline-block;
}

.container-fluid {
    padding-top: 50px;
}

.navbar {
    box-shadow: 0 3px 20px #000;
    -moz-box-shadow: 0 3px 20px #000;
    -webkit-box-shadow: 0 3px 20px #000;
    -khtml-box-shadow: 0 3px 20px #000;
    -o-box-shadow: 0 3px 20px #000;
    -ms-box-shadow: 0 3px 20px #000;
}

.navbar-inner {
    background: #e8e8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #e8e8e8 0%, #b5b5b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8e8e8 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8e8e8 0%,#b5b5b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8e8e8 0%,#b5b5b5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e8e8e8 0%,#b5b5b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */

}

.navbar-fixed-top .container {
    width: auto;
    margin: 0 10px 0 10px;
}

.navbar a {
    transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    color: #333 !important;
    text-shadow: 0 1px 0 #fff !important;
    -moz-text-shadow: 0 1px 0 #fff !important;
    -webkit-text-shadow: 0 1px 0 #fff !important;
    -khtml-text-shadow: 0 1px 0 #fff !important;
    -o-text-shadow: 0 1px 0 #fff !important;
    -ms-text-shadow: 0 1px 0 #fff !important;
}

.navbar a:hover {
    color: #000 !important;
    text-shadow: 0 1px 0 #fff, 0 0 5px #333 !important;
    -moz-text-shadow: 0 1px 0 #fff, 0 0 5px #333 !important;
    -webkit-text-shadow: 0 1px 0 #fff, 0 0 10px #333 !important;
    -khtml-text-shadow: 0 1px 0 #fff, 0 0 10px #333 !important;
    -o-text-shadow: 0 1px 0 #fff, 0 0 10px #333 !important;
    -ms-text-shadow: 0 1px 0 #fff, 0 0 5px #333 !important;
}

.no-display {
    display: none;
}

#success_alert {
    position: absolute;
    box-shadow: 0 2px 5px #000;
    -moz-box-shadow: 0 2px 5px #000;
    -webkit-box-shadow: 0 2px 7px #000;
    -khtml-box-shadow: 0 2px 7px #000;
    -o-box-shadow: 0 2px 7px #000;
    -ms-box-shadow: 0 2px 7px #000;
    opacity: 0.85;
    border: 1px solid #eee;
    background: #ccc;
    color: #000;
}

#most_important {
    text-align: center;
    padding: 60px 0 60px 0;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
}

#most_important:hover {
    transform: rotate(-540deg) scale(1.3);
    -moz-transform: rotate(-540deg) scale(1.3);
    -webkit-transform: rotate(-540deg) scale(1.3);
    -o-transform: rotate(-540deg) scale(1.3);
    -ms-transform: rotate(-540deg) scale(1.3);
    text-shadow: 0 0 40px #0af, 0 0 30px #0af, 0 0 20px #0af, 0 0 10px #0af;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"],
.submit-post,
.submit-preview,
.btn {
    padding: 0 3px;
    margin: 5px;
    background: #e8e8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #e8e8e8 0%, #b5b5b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8e8e8 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8e8e8 0%,#b5b5b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8e8e8 0%,#b5b5b5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e8e8e8 0%,#b5b5b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #fff;
    box-shadow: 0 1px 2px #000;
    -moz-box-shadow: 0 1px 2px #000;
    -webkit-box-shadow: 0 1px 3px #000;
    -khtml-box-shadow: 0 1px 3px #000;
    -o-box-shadow: 0 1px 3px #000;
    -ms-box-shadow: 0 1px 3px #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
}

input[type="file"]:hover,
input[type="image"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover,
.submit-post:hover,
.submit-preview:hover,
.btn:hover {
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f0f0 0%, #ccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f0f0 0%,#ccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f0f0 0%,#ccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0f0f0 0%,#ccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
    border-color: #0af;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-inpu,
.breadcrumb {
    border: 1px solid #fff;
    box-shadow: 0 1px 3px #000 inset;
    -moz-box-shadow: 0 1px 3px #000 inset;
    -webkit-box-shadow: 0 1px 4px #000 inset;
    -khtml-box-shadow: 0 1px 4px #000 inset;
    -o-box-shadow: 0 1px 4px #000 inset;
    -ms-box-shadow: 0 1px 4px #000 inset;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-inpu {
    border: 1px solid #0af;
    box-shadow: 0 1px 3px #000 inset;
    -moz-box-shadow: 0 1px 3px #000 inset;
    -webkit-box-shadow: 0 1px 4px #000 inset;
    -khtml-box-shadow: 0 1px 4px #000 inset;
    -o-box-shadow: 0 1px 4px #000 inset;
    -ms-box-shadow: 0 1px 4px #000 inset;
}

textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-inpu {
    border: 1px solid #0af;
}

textarea {
    height: 160px;
    width: 70%;
}

.content-list, .content-detail-body {
    padding: 0 10px 0 10px;
    background: #eee;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius:  5px;
    box-shadow: 0 0 3px #444444 inset;
    -moz-box-shadow: 0 0 3px #444444 inset;
    -webkit-box-shadow: 0 0 4px #444444 inset;
    -khtml-box-shadow: 0 0 4px #444444 inset;
    -o-box-shadow: 0 0 4px #444444 inset;
    -ms-box-shadow: 0 0 4px #444444 inset;
    margin: 10px 5px;
}

.content-list-header h4 {
    margin: 5px 0 0 0;
}

.content-list-header {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px 0;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -khtml-box-shadow: 0 1px 0 #fff;
    -o-box-shadow: 0 1px 0 #fff;
    -ms-box-shadow: 0 1px 0 #fff;
}

.content-list-footer, .content-detail-footer {
    text-align: right;
    padding: 10px 0 10px 10px;
}

.content-list-footer a, .content-detail-footer a {
    padding: 0 5px;
}

.content {
    width: 99%;
    background: #d5d5d5;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow: 0 0 5px #000 inset;
    -moz-box-shadow: 0 0 5px #000 inset;
    -webkit-box-shadow: 0 0 5px #000 inset;
    -khtml-box-shadow: 0 0 5px #000 inset;
    -o-box-shadow: 0 0 5px #000 inset;
    -ms-box-shadow: 0 0 5px #000 inset;
}

.content-detail-body {
    min-height: 200px;
}

.content-author, .comment-header {
    padding: 0 10px;
    font-size: 80%;
    color: #777;
}

.content-detail-body-content {
    padding: 0 5px 20px 5px;
}

.user-avatar {
    margin: 10px;
    border: 1px solid #fff;
    padding: 5px;
    background: #d5d5d5;
    border-radius: 10% 0;
    -moz-border-radius: 10% 0;
    -webkit-border-radius: 10% 0;
    -khtml-border-radius: 10% 0;
    -o-border-radius: 10% 0;
    -ms-border-radius: 10% 0;
    box-shadow: 0 1px 2px #000;
    -moz-box-shadow: 0 1px 2px #000;
    -webkit-box-shadow: 0 1px 3px #000;
    -khtml-box-shadow: 0 1px 3px #000;
    -o-box-shadow: 0 1px 3px #000;
    -ms-box-shadow: 0 1px 3px #000;
}

.avatar-wrapper {
    position: relative;
}

.user-avatar img {
    border-radius: 10% 0;
    -moz-border-radius: 10% 0;
    -webkit-border-radius: 10% 0;
    -khtml-border-radius: 10% 0;
    -o-border-radius: 10% 0;
    -ms-border-radius: 10% 0;
}

.avatar-shadow {
    border: 1px solid #fff;
    border-radius: 10% 0;
    -moz-border-radius: 10% 0;
    -webkit-border-radius: 10% 0;
    -khtml-border-radius: 10% 0;
    -o-border-radius: 10% 0;
    -ms-border-radius: 10% 0;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px #000 inset;
    -moz-box-shadow: 0 0 5px #000 inset;
    -webkit-box-shadow: 0 0 7px #000 inset;
    -khtml-box-shadow: 0 0 7px #000 inset;
    -o-box-shadow: 0 0 7px #000 inset;
    -ms-box-shadow: 0 0 7px #000 inset;
}

.comment {
    margin: 10px;
    border: 1px solid #fff;
    background: #e7e7e7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-shadow: 0 1px 3px #000;
    -moz-box-shadow: 0 1px 3px #000;
    -webkit-box-shadow: 0 1px 3px #000;
    -khtml-box-shadow: 0 1px 3px #000;
    -o-box-shadow: 0 1px 3px #000;
    -ms-box-shadow: 0 1px 3px #000;
}

.comment-header {
    margin: 0 5px;
    border-bottom: 1px solid #555;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -khtml-box-shadow: 0 1px 0 #fff;
    -o-box-shadow: 0 1px 0 #fff;
    -ms-box-shadow: 0 1px 0 #fff;
}

.comment-wrapper {
    margin-left: 160px;
}

.comment-body {
    min-height: 100px;
    padding: 10px;
}

.comment-footer {
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 #555;
    -moz-box-shadow: 0 -1px 0 #555;
    -webkit-box-shadow: 0 -1px 0 #555;
    -khtml-box-shadow: 0 -1px 0 #555;
    -o-box-shadow: 0 -1px 0 #555;
    -ms-box-shadow: 0 -1px 0 #555;
    margin: 10px 20px;
    padding: 10px;
}
