{% load static %}
{% load coretags %}
{% load coffeescript %}
{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Keywords" content="{% block keywords %}{% endblock %}юмор, статьи, антинаука, хобби, диггерство, диггер, Linux, блог, open, source, философия, ubuntu, фото, отчет, совершенно, секретно, голуби, УИПА, студент, физика, бомбарь, объект, герма, метро, openwrt, роутер">
<meta name="Description" content="{% block description %}Добро пожаловать в Перпендикулярный Мир, ТРАМБРОИД. Да прибудет с вами глупость! Трамброид сайт о всякой глупости, науке, философии, дигерстве линуксе, Заходи и ты поразишся, что такое может существовать.{% endblock %}">
<head>
    <title>{% block title %}TRAMBROID{{ page_title }}{% endblock %}</title>
    <link rel="author" title="Maxim Starodubcev">
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="{% get_static_prefix %}js/ajax.js"></script>-->
    <script type="text/javascript" src="{% get_static_prefix %}{% coffeescript 'coffee/ajax.coffee' %}"></script>
    <script type="text/javascript" src="{% get_static_prefix %}{% coffeescript 'coffee/comment.coffee' %}"></script>
    <script type="text/javascript" src="{% get_static_prefix %}{% coffeescript 'coffee/profile.coffee' %}"></script>
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter33333038 = new Ya.Metrika({
                        id:33333038,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-responsive.min.css" type="text/css"/>
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css"/>
    <link rel="icon" type="image/ico" href="{% get_static_prefix %}img/favicon.ico" />
</head>

<body data-offset-top="50">
<!--2A5094D1CB093199E5A114632383F2AC-->
{% menubar %}

<div class="container-fluid">
  <div class="row-fluid content">
    <div class="span2">
      <div id="most_important">
          {% trans "ТУТА ЕЩЕ ЧЕНИТЬ ВЛЕПИМ." %}
      </div>
      <div class="menu left-block">
        <h5>{% trans "Навигация" %}</h5>
        <ul class="nav nav-list">
          {% for section in sections %}
            <li {% if section == current_section %}class="active"{% endif %}><a href="{{ section.url }}">{{ section.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="linx left-block">
        <h5>{% trans "Реклама" %}</h5>
        <div class="muted">
          {% load linkexchange_tags %}
          {% for link in linkexchange_blocks %}
            {% if link != '<div></div>' and link != '<span></span>' %}{{ link|safe }}{% endif %}
          {% endfor %}
          {% links %}
          <ul class="linx unstyled">
            <li>{% setlinks %}</li>
	  </ul>
        </div>
      </div>
      <div class="menu left-block">
        <h5>{% trans "Последние коментарии" %}</h5>
        <ul class="nav nav-list">
          {% for comment in last_comments %}
            <li><a href="{% url "content:detail" comment.blog.slug %}#comment_{{comment.id}}">{% if comment.title %}{{ comment.title }}{% else %}{{ comment.body_only|striptags|truncatewords:5 }}{% endif %}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="span10 block-center">
      {% breadcrump %}
      {% include "paginator.html" %}
      {% block content %}{% endblock %}
      {% include "paginator.html" %}
    </div>
  </div>
</div>
<noscript>
    <div>
        <img src="https://mc.yandex.ru/watch/33333038" style="position:absolute; left:-9999px;" alt="" />
    </div>
</noscript>
</body>
</html>
