{% load i18n %}
<div id="vote_block" class="vote-block" title="Score: {{ score.score }} / Votes: {{ score.num_votes }}">
  <a id="up_vote"{% if not user.is_authenticated %} onclick="return false;"{% endif %} href="{% url "core:vote" app=app model=model pk=pk vote="1" %}" title="Up">
    <i class="icon-thumbs-up"></i>
  </a>

  <div id="score_votes" {% if score.score < 0 %}class="text-error"{% endif %}{% if score.score > 0 %}class="text-success"{% endif %}>
    {{ score.score }}
  </div>

  <a id="down_vote"{% if not user.is_authenticated %} onclick="return false;"{% endif %} href="{% url "core:vote" app=app model=model pk=pk vote="-1" %}" title="Down">
    <i class="icon-thumbs-down"></i>
  </a>

  <span id="success_alert" class="no-display alert alert-info">
    <strong>{% trans "SUCCESS" %}:</strong> {% trans "Your vote is considered!" %}
  </span>
</div>
