{% extends "base.html" %}
{% load coretags %}

{% block content %}
    {% load comments %}
    <div class="blog-detail content-detail">
      <div class="blog-detail-header content-detail-header">
        <h4>{{ content.title }}</h4>
      </div>
      <div class="blog-detail-body content-detail-body">
        <div class="blog-author content-author">Posted by {% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} on {{ content.create_time }}</div>
        {% vote %}
        <div class="blog-detail-body-content content-detail-body-content">
          {% if user.is_superuser %}{{ content.body|safe }}{% else %}{{ content.body|striptags|linebreaks }}{% endif %}
        </div>
        <div class="blog-detail-footer content-detail-footer">
        {% if content.tags.all %}
        <span class="float-left">
        <small>
          Tags:
          {% for t in content.tags.all %}
            <a href="/tag/{{ t.slug }}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small>
        </span>
        {% endif %}
         <div class="btn-group">
          {% comment %}{% if user.is_authenticated %}{% endcomment %}
            <a class="btn" href="#comment_form">Добавить коментарий</a>
          {% comment %}{% endif %}{% endcomment %}
          {% comment %}        <small><a class="btn" href="#">{% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} blog</a></small>{% endcomment %}
        </div>
        </div>
      </div>
    <a name="comments"></a>
    {% for comment in comments %}
    
    
    <div class="comment" id="comment_{{ comment.pk }}">
    <div class="comment-header">
      {{ comment.parent }}
      {{ comment.create_time }}. Posted by <a href="#">{% if comment.user.first_name or comment.user.last_name %}{{ comment.user.first_name }} {{ comment.user.last_name }}{% else %}{{ comment.user.username }}{% endif %}</a>
      <span class="float-right">
        <a href="#comment_{{ comment.pk }}">#{{ forloop.counter }}</a>
      </span>
    </div>
    <div class="float-left user-avatar">
      <div class="avatar-wrapper">
        <img src="{{ comment.user.profile.avatar.url }}">
        <div class="avatar-shadow"></div>
      </div>
    </div>
    <div class="comment-wrapper">
      <div class="comment-body">
        {{ comment.body }}
      </div>
      <div class="comment-footer">
        {% if comment.user.is_superuser or comment.user.is_staff %}{{ comment.user.profile.signature|safe }}{% else %}{{ comment.user.profile.signature|striptags }}{% endif %}
      </div>
    </div>
  </div>

    {% endfor %}

    <a name="comment_form"></a>
    <br>
    {% if user.is_authenticated %}
      <div class="add-comment">
        <form method="post" action="">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <div class="text-left">
            <input type="submit" class="btn" value="Отправить"></input>
          </div>
        </form>
      </div>
    {% else %}
      Пожалуйста войдите, что-бы оставить коментарий:
      <a href="{% url "socialauth_begin" "facebook" %}?next={{ request.META.PATH_INFO }}" class="facebook" title="Войти через facebook"><img src="{{ static_prefix }}img/facebook.png" alt="FB" border="0" width="22" height="22" /></a>
      <a href="{% url "socialauth_begin" "vk-oauth" %}?next={{ request.META.PATH_INFO }}" class="vkontakte" title="Войти через vkontakte"><img src="{{ static_prefix }}img/vkontakte.png" alt="VK" border="0" width="22" height="22" /></a>
      <a href="{% url "login" %}?next={{ request.META.PATH_INFO }}">Войти</a>
      <a href="{% url "registration" %}?next={{ request.META.PATH_INFO }}">Регистрация</a>
    {% endif %}
    </div>
{% endblock %}

