{% extends "base.html" %}
{% load coretags %}

{% block content %}
    {% load comments %}
    <div class="blog-detail content-detail">
      <div class="blog-detail-header content-detail-header">
        <h4>{{ content.title }}</h4>
      </div>
      <div class="blog-detail-body content-detail-body">
        <div class="blog-author content-author">Posted by {% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} on {{ content.create_time }}</div>
        {% vote %}
        <div class="blog-detail-body-content content-detail-body-content">
          {% if user.is_superuser %}{{ content.body|safe }}{% else %}{{ content.body|striptags|linebreaks }}{% endif %}
        </div>
        <div class="blog-detail-footer content-detail-footer">
        {% if content.tags.all %}
        <span class="float-left">
        <small>
          Tags:
          {% for t in content.tags.all %}
            <a href="/tag/{{ t.slug }}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small>
        </span>
        {% endif %}
        {% if user.is_authenticated %}<small><a class="btn" href="#comment_form">Add Comment</a></small>{% endif %}
        <small><a class="btn" href="#">{% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} blog</a></small>
        </div>
      </div>
      {% include "comments.html" %}
    <a name="comment_form"></a>
    <br>{% render_comment_form for content %}
    </div>
{% endblock %}
