{% extends "base.html" %}
{% load i18n %}
{% load coretags %}

{% block content %}

{% for row in content %}
<section>
<div id="preview-{{ row.id }}" class="fp-list blog-list content-list">
  <div class="blog-list-header content-list-header">
    <a href="{{ row.get_absolute_url }}" title="Go to: {{ row.title }}"><h4>{{ row.title }}</h4></a>

      <div class="blog-author content-author">
            Posted by
            {% if row.user.first_name or row.user.last_name %}
              {{ row.user.get_full_name }}
            {% else %}
              {{ row.user.username }}
            {% endif %}
            on <time datetime="{{ row.create_time.isoformat }}">{{ row.create_time }}</time>
      </div>
  </div>
  <div class="blog-list-body content-list-body">
    {% if 1 or user.is_superuser or row.drupal_nid %}
      {{ row.preview|safe }}
    {% else %}
      {{ row.preview|striptags|linebreaks }}
    {% endif %}
  </div>
  <div class="blog-list-footer content-list-footer">

      {% if row.translations_cache.tags_count %}
        <span class="float-left">
        <small>
          Tags:
          {% for t in row.get_tags %}
            <a href="/tag/{{ t.slug }}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small>
        </span>
      {% endif %}

      <small><a class="btn" href="{{ row.get_absolute_url }}">{% trans "Read more" %}</a></small>
      {% if row.translations_cache.comment_count %}
        <small>
          <a class="btn" href="{{ row.get_absolute_url }}#comments">{% blocktrans count row.translations_cache.comment_count as count %}{{ count }} Коментарий{% plural %}{{ count }} Коментариев{% endblocktrans %}</a>
        </small>
      {% endif %}

      {% if user.is_authenticated %}
        <small>
          <a class="btn" href="{{ row.get_absolute_url }}#comment_form">{% trans "Add Comment" %}</a>
        </small>
      {% endif %}

      <small>
        <a class="btn" href="#">
          {% if row.user.get_full_name %}
            {{ row.user.get_full_name }}
          {% else %}
            {{ row.user.username }}
          {% endif %} blogs
        </a>
      </small>
  </div>
</div>
</section>
{% endfor %}

{% endblock %}
