<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-inverse" href="/">Home</a>
      <ul class="nav">
        {% for section in sections %}
          <li {% if section.slug == current_section %}class="active"{% endif %}><a href="{{ section.url }}">{{ section.title }}</a></li>
        {% endfor %}
      </ul>
      <span class="float-right">
      <ul class="nav">
        {% if user.is_authenticated %}
          <li><a href="{% url profile %}">{{ user.first_name }} {{ user.last_name }} ({{ user }})</a></li>
          <li><a href="{% url logout %}">Logout</a></li>
        {% else %}
          <li><a href="{% url login %}">Login</a></li>
        {% endif %}
      </ul>
      </span>
    </div>
  </div>
</div>
